<footer class="text-center downbar sticky-bottom text-lg-start bg-light text-muted">
  <!-- Grid row -->
  <div class="row indownbar">
    <!-- First Column -->
    <div class="col-md-12 col-lg-3">
      <div class="row">
        <div class="col-auto">
          <img src="assets/img/blazon-white.svg" alt="" loading="lazy"/>
        </div>
        <div class="col-8 logoheadbrandfooter">
          <span class="brandfooter">Державний центр <br>зайнятості</span><br>
          <span class="brandfootermini">Офіційний веб-сайт</span>
        </div>
      </div>
    </div>

    <!-- Other Columns -->

  </div>
  <!-- Grid row -->

  <mat-divider style="background-color: white"></mat-divider>

  <!-- Copyright -->
  <div class="row indownbar">
    <div class="col-md-12 col-lg-3" style="justify-content: flex-start;text-align: left">
      <div *ngIf="!isMobile && !isTablet" class="row copyright">
        ©2024 Державний центр зайнятості
      </div>




    </div>

    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </div>

</footer>


<!-- Footer -->
