
.service-box a {
  text-decoration: none !important;
}
.service-box a:hover {
  text-decoration: underline !important;
}
.service-box  {
  padding: 15px;
    margin: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 50px;
  color: #1b1d1d;
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  width: 100%;
  background-size: 0 100%; /* Змініть розмір фону на 0, щоб спочатку його не було видно */
  background-position: 0 100%; /* Почніть фон з крайнього правого краю */
  background-repeat: no-repeat; /* Забороніть повторення фону */

}
.section{
  padding: 3.75rem 0;
}
a{
  color:black;
}
.nameposlug{

  padding-bottom: 2%;
}
.article-level-1 {

  line-height: 2rem;

  font-weight: 400;
}
.service-box:hover{
  transition: ease-in-out 0.3s;
  border-color: #fff;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  cursor: default;
  background-color: #FFFFFF;
  background-size: 100% 100%;
  color: #1b1d1d;

}

.service-boxtitle{
  color: #080E1A;
  font-family: "e-Ukraine",sans-serif;
justify-items: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  text-decoration: none;
    padding: 1rem;
}
.service-boxtext{
  color: #080E1A;
  font-family: "e-Ukraine",sans-serif;
  font-weight: 300;


  line-height: normal;
  display: flex;
  justify-content: flex-start;
  text-align: start;
  text-decoration: none;
}
.service-boxbtn{
  color: #264493;
  text-align: start;
  font-family:"e-Ukraine",sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  max-width: 50%;
  cursor: pointer;
}
.service-boxtext:hover{
  text-decoration: none!important;
}
@media all and (min-width:1920px) {

  .container{
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    margin-left: 0;
  }


}
.section{
  flex: 1;
  padding-left: 5%!important; ;
  padding-right: 5%!important;
}
.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow: hidden;
  margin-right: -0.9375rem;
  margin-left: -0.9375rem;
  box-sizing: border-box;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
.mat-mdc-card-title, .mat-mdc-card-subtitle{
  margin-bottom: 0.9375rem;
  padding: 0 0.9375rem;
}
.image-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;


}
.missiabox  {
  padding: 15px;
  text-align: center;
  border: none;
  background: transparent;
  color: #1b1d1d;
  text-decoration: none;
  justify-content: flex-start;
  background-size: 0 100%; /* Змініть розмір фону на 0, щоб спочатку його не було видно */
  background-position: 0 100%; /* Почніть фон з крайнього правого краю */
  background-repeat: no-repeat; /* Забороніть повторення фону */
}
.service-boxtext{
  text-align: justify-all;
}
.mat-card-image {
  max-width: 100%;/* Adjust as needed */
  overflow-clip-margin: content-box;
  overflow: clip;
  -o-object-fit: cover;
  object-fit: cover;
  padding: 0 .9375rem.9375rem;
}

:host ::ng-deep .mat-card-title {

  font-weight: 300;
  line-height: 1.8125rem;
  color: #000;

}

.soc-link {
  position: relative;
  bottom: 10%;
  left: 1.25rem;
  display: flex;
  align-items: center;
}

.mat-mdc-card{
  box-shadow: none;
}
.team-card {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%; /* Adjust based on your preference */
  margin-bottom: 20px; /* Space between cards */
  visibility: visible;
  /*  animation-duration: 1s;
    animation-name: fadeInUp;*/
  /*max-width: 25%;*/
  background-color: rgba(255,255,255,0.39);

}
.row {

}
/*.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}*/
/* For mobile screens */
@media screen and (max-width: 600px) {
  .team-card {
    width: 100%;
  }
}

.team-card {
  margin-bottom: 1rem;
}

@media (min-width: 1200px) {
  .col-xl-2 {
    max-width: 20%;
    flex: 0 0 20%;
  }
}


.mat-card-title{
  padding:1rem!important;
}

.mdc-card__media {
  height: 50% !important;
}
.img-fluid{
  height: 35vh !important;
  width: 19vw!important;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

@media all and (max-width:992px) {
  .img-fluid{
    width: 100%!important;
  }
  .row {
    --bs-gutter-x:0!important;
  }
  :host ::ng-deep .mat-mdc-form-field{
    width: 95vw;
  }

}
